*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: #053255;
  }
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(45deg, #4958e4, #d14aa4);
}
.profile-card{
    width: 100%;
    min-height: 520px;
    max-width: 700px;
    background: rgb(255, 255, 255);
    margin: auto;
    box-shadow: 0px 8px 100px -0px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}
.profile-card-img{
    width: 150px;
    height: 150px;
    margin:auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}
.profile-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(0px);
    transition: 0.5s;
}
.profile-card-info{
    text-align: center;
    font-size: 18px;
}
.profile-card-info>*{
    margin-bottom: 20px;
    font-weight: 700;
}
.profile-card-info .name{
    color:rgb(108, 68, 252);
    font-size: 25px;
    margin-top: -25px;
}
.profile-card-social{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-card-social .item{
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all 0.3s;
}
.profile-card-social .item:hover{
    transform: scale(1.2);
}
.facebook{
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0px 4px 30px rgb(43 98 169 / 50%);
}
.instagram{
    background: linear-gradient(45deg, #5664a5, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0px 4px 30px rgba(204, 60, 192, 0.6);
}
.github{
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0px 4px 30px rgb(63 65 67 / 60%);
}
.linkedin{
    background: linear-gradient(45deg, #097dc5, #0a66c2);
    box-shadow: 0px 4px 30px rgb(19 127 212 / 70%);
}
.tiktok{
    background: linear-gradient(45deg, #443f3f, #5f2f3b);
    box-shadow: 0px 4px 30px rgba(129, 106, 97, 0.6);
}
.telegram{
    background: linear-gradient(45deg, #5d7b9e, #60A5FA);
    box-shadow: 0px 4px 30px rgba(78, 195, 231, 0.6);
}

.contact{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact .item{
    background: linear-gradient(45deg, #3a69ce, #118aec);
    color: #fff;
    padding: 15px 35px;
    margin: 0 80px;
    box-shadow: 0px 8px 100px -0px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0px 4px 30px rgba(22, 30, 32, 0.3);
}
.contact .item:hover{
    transform: scale(1.1);
    opacity: 0.8;   
    color: #c0d8ee;
    box-shadow: 0px 4px 30px rgba(32, 169, 210, 0.5);

}
